.d-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.placeholder-item{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px dashed #ccc;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    span{
        display: block;
        text-align: center;
        width: 100%;
    }
}
.template-preview{
    padding: 5px;
    .placeholder{
        width: 100%;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 5px;
        &:last-child{
            margin-bottom: 0px;
        }
        &.active{
            border-width: 2px;
            border-color: #00b300;
        }
    }
}